.git
.gitignore
.env
*.md
*.rar
*.zip
__pycache__
*.pyc
venv/
env/
.venv/
users.db
model.h5
model.json
static/uploads/
static/accuracy.png
static/loss.png
static/confusion_matrix.png
static/metrics.png
static/overall_stats.png
static/class_accuracy.png
train/
test/
.vscode/
.idea/
